[Unit]
Description=Ollama Service
After=network-online.target

[Service]
RuntimeDirectory=ollama
Restart=always
RestartSec=3
EnvironmentFile=/etc/ollama/ollamad.conf
ExecStart=/usr/bin/ollama serve

[Install]
WantedBy=default.target
